/* css stylesheet for etchabloc.html */


/* Elements */
body {
	font-family: 'Londrina Sketch', cursive;
	color: white;
	text-align: center;
	background-color: black;
	padding: 0;
	margin: 0 auto;	
}

h1 {
	color: rgb(235,168,54);
	font-size: 260%;
	text-shadow: 2px 2px #555555;
	margin: 0 auto 5px auto;
	padding: 0;
}


/* Classes */
.dot {
	height: 75px;
	width: 75px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 50%;
	display: inline-block;
}

.leftctrl {
	float: left;
	margin: 15px;
}

.rightctrl {
	float: right;
	margin: 15px;
}


/* IDs */
#container {
	width: 100%; 
	margin: 0 auto; 
	padding: 0; 
}

#border {
	width: 500px;
	height: 450px;
	margin: 30px auto;
	padding: 0;
	border: 60px solid rgb(219, 20, 20);
	border-radius: 5px;
	background-color: rgb(219, 20, 20);
}